{% extends "base.html" %}

{% block  lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы POST</h1>
    <div>Тема лабораторной - формы POST. Список сделанных страниц</div>
    <ol>
        <li><a href="/lab4/div-form">Деление</a></li>
    </ol>
    <ol>
        <li><a href="/lab4/sum-form">Сумма</a></li>
    </ol>
    <ol>
        <li><a href="/lab4/multi-form">Умножение</a></li>
    </ol>
    <ol>
        <li><a href="/lab4/minus-form">Вычитание</a></li>
    </ol>
    <ol>
        <li><a href="/lab4/exponen-form">Возведение в степень</a></li>
    </ol>
    <ol>
        <li><a href="/lab4/tree">Подсчёт деревьев</a></li>
    </ol>
    <ol>
        <li><a href="/lab4/fridge">Холодильник</a></li>
    </ol>
    <ol>
        <li><a href="/lab4/corn">Заказ зерна</a></li>
    </ol>
    <ol>
        <li><a href="/lab4/registration">Регистрация</a></li>
    </ol>
{% endblock %}