{% extends "base.html" %}

{% block  lab %}Лабораторная работа 9{% endblock %}

{% block main %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'lab9.css') }}">

<div class="lab9back">
    <div class="form-inner">
        <p> Здравствуйте, {{ user['name'] }}!</p>
        <form method="post" action="/lab9/step/age" onsubmit="return validateAge()">
            <div>
                <label for="name">Введите ваш возраст:</label>
                <input type="number" id="age" name="age" max="99" min="1" value=20 >
            </div>
            <div>
                <button type="submit">Продолжить</button>
            </div>
        </form>
    </div>
    <div class="form-outer"></div>
</div>
<script>
function validateAge() {
    var name = document.getElementById("age").value;
    if (name == "") {
        alert("Пожалуйста, введите возраст");
        return false;
    } 
    return true;  
}
</script>
{% endblock %}