{% extends "base.html" %}

{% block  lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div>Тема лабораторной - Flask и БД. Список сделанных страниц</div>

    <h2> Привет, 
        {% if session['login'] == login %}
            {{ login }}
        {% else %}
            Anonymous
        {% endif %}
    </h2>
    <div style="background-color: aqua;">
        <ul>
            <li><a href="/lab5/login">Вход</a></li>
        </ul>
        <ul>
            <li><a href="/lab5/register">Регистрация</a></li>
        </ul>
        <ul>
            <li><a href="/lab5/list">Список статей</a></li>
        </ul>
        <ul>
            <li><a href="/lab5/create">Создать статью</a></li>
        </ul>
        <ul>
            <li><a href="/lab5/reg_users">Список пользователей</a></li>
        </ul>
        <ul>
            <li><a href="/lab5/logout">Выход</a></li>
        </ul>
         
    </div>
{% endblock %}