{% extends "base.html" %}

{% block  lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>
        {% if article['id'] %}
        Редактирование статьи {{ article['title'] }}
        {% else %}
        Создание новой статьи
        {% endif %}
    </h1>
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}
    {% if message %}
        <div style="color: green;">{{ message }}</div>
    {% endif %}
    <form method="post" action="{{action}}">
        <input type="hidden" name="id" value="{{ article['id'] }}">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" value="{{ article['title'] }}">
            </label>
        </div>
        <div style="height: 40px; width: 50px;">
            <textarea name="article_text">{{ article['article_text'] }}</textarea>
        </div>
        <div>
           Нравится: <input type="checkbox" name="is_favorite" value="True" 
           {% if article['is_favorite'] %} checked {% endif %}
           >
        </div>
        <div>
            Публичное: <input type="checkbox" name="is_public" value="True" 
            {% if article['is_public'] %} checked {% endif %}
            >
         </div>
        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
    <a href="{{url_for('lab8.articles_list')}}">Вернуться к списку статей</a>
{% endblock %}